header{
    position: fixed;
    z-index:24;
}

.main-contents{
    background: linear-gradient(180deg, #9CB6FF 0%, rgba(203,215,246,0) 100%) no-repeat 87% 76% / 100% 100%,url(../images/pic.jpg);
    background-size:cover;
    padding: 100px 60px 100px 100px;
}

/*文字の部分全体*/
.content{
    float: left;
    margin-top: 200px;
    width: 50%;
}
/*太文字部分*/
.about-content{
    animation-name: fadein;
    animation-duration: 2s;
}
/*小文字部分*/
.about2-content{
    animation-name: fadein;
    animation-duration: 3s;
}
/*文字部分のフェードインアニメーション*/
@keyframes fadein {
from {
    opacity: 0;
    transform: translateX(-60px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

.presentationimg{
    padding-top: 100px;
}

.presentationimg img{
    border-radius: 50%;
    height: 500px;
    width: 500px;
}


/*bootsnipp  css*/
.how-section1{
    color: #C40014;
    margin-top:-15%;
    padding: 10%;
}

.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}

.how-section1 .row
{
    margin-top: 80px;
}

.how-img
{
    text-align: center;
}

.how-img img{
    height: 100%;
    width: 100%;

}

.subheading{
    margin-top:80px;
}


