@charset "utf-8";

.textcontents{
    float :left;
    margin-top : 20px;
  } 
  .script{
      float: left;
      margin-left: 20px;
  }
  textarea {
    background-image:
      repeating-linear-gradient(
        #fff,
        #fff calc(1.5rem - 1px),
        #ced4da calc(1.5rem - 1px),
        #ced4da 1.5rem,
        #fff 1.5rem
      );
    background-origin: content-box;
    background-clip: content-box;
    background-attachment: local;
  }
  