body{background: linear-gradient(180deg, #9CB6FF 0%, rgba(203,215,246,0) 100%) no-repeat 87% 76% / 100% 100%,url(../images/pic.jpg);}


.copy{
  text-align: right;
}

/*
.return-script{
  text-align: center;
  margin-bottom:50px;
}
*/

#carousel3d .carousel-3d-slide {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
/*  -webkit-transition: all .4s;
  transition: all .4s;*/
}

.example{
  overflow:scroll;
}

#carousel3d .carousel-3d-slide.current {
  background-color: #fff;
  height:500px !important;
  width: 400px !important;
}
#carousel3d .carousel-3d-slide.current span {
  font-size: 15px;
  font-weight: 100;
}

.title{
  font-size: 20px;
  font-weight: 500;
}

.carousel-3d-slide.right-1{
  height:550px !important;
  width: 450px !important;
}
.carousel-3d-slide.left-1{
  height:550px !important;
  width: 450px !important;
}
.carousel-3d-slide.right-2{
  height:500px !important;
  width: 400px !important;
}
.carousel-3d-slide.left-2{
  height:500px !important;
  width: 400px !important;
}

.carousel-3d-container{
  height:600px !important;
}



.modal-center {
    display:table;
    height: 100%;
    width: 100%;
}


.prev[data-v-43e93932]{
  left: 100px!important;
  font-size: 100px!important;
}

.next[data-v-43e93932]{
  right: 100px!important;
  font-size: 100px!important;
}








